p{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 30px;
    line-height: 43px;
    text-align: left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin: 50px;
    font-size: 25px;
    border: 4px solid black;
    border-radius: 18px;
}

h1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(255, 0, 0);
    margin-top: 50px;
    border-bottom: 5px solid black;
    padding-bottom: 15px;
}


body{
    background-image: url("Baixados.webp");
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 2.0s ease-in-out;
}
  
div.tp-dfwv img{
    width: 275px;
}
div.tp-dfwv {
  width: 274px;
}
